MOTIUS_COMMUNITY_APP_RELEASE_STORE_FILE=../keystores/<keystore-file>
MOTIUS_COMMUNITY_APP_RELEASE_STORE_PASSWORD=<password>
MOTIUS_COMMUNITY_APP_RELEASE_KEY_ALIAS=<keystore-alias>
MOTIUS_COMMUNITY_APP_RELEASE_KEY_PASSWORD=<key-password>